/*
Theme Name: goarch
Theme URI: http://murren.ru/templates/WP/goarch/goarch-demo
Author: VK
Author URI: http://murren.ru/templates/WP/silvana/demo/
Description: goarch - Architecture WordPress Template
Version: 1.2.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: custom-background, custom-colors, custom-header, custom-menu, featured-images, sticky-post, threaded-comments
Text Domain: goarch

*/


/* 1 Global WordPress style */

.wp-caption {
    background-color: #323232;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption-text{
    margin-top:8px;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
    padding-top:8px;
}
.sticky  h2 a {
    color: red !important;

}



.gallery-caption {
    color: #707070;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    padding: 7px 0;
}
.bypostauthor {
     width: 100%;
 }
.aligncenter {
    display:block;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

iframe {
    max-width: 100%;
}

.tp-bgimg {
    /*background-size: cover !important;
    background-position: center top !important;*/
}


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}


/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

img , select {
    max-width: 100%;
}

.post-entry dl , .section-add-comment dl    {
    margin: 0 20px;
}
.post-entry dd , .section-add-comment dd{
    margin: 0 0 20px;
}

.post-entry  ul:not([class])  li  ,  .section-add-comment   ul:not([class])  li{
    list-style-type: disc;
    margin: 0;
    padding-left: 2em;
    list-style-position: inside;
    text-indent: -1em;
    overflow: hidden;
    margin-top: 10px;
}
.post-entry  ul:not([class]) ,  .section-add-comment  ul:not([class])   {
    list-style-type: disc;
    list-style-position:outside;
    margin-right: 1px;
    margin-left: 20px;
    padding-left: 0px;
    margin-top: 10px;
}

.post-entry   ol:not([class]), .section-add-comment   ol:not([class]) {
    list-style-type: decimal;
    list-style-position:outside;
    margin-right: 1px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 0px;
    margin-top: 10px;


}
.content   ol:not([class])  li , .section-add-comment  ol:not([class])  li {
    list-style-type: decimal;
    margin: 0;
    padding-left: 2em;
    list-style-position: inside;
    text-indent: -1em;
    overflow: hidden;
    margin-top: 10px;

}

.social {
    position: relative;
    z-index:50;
}





.d-none {
    display: none;
}

.slide-number {
    display: none;
}

.admin_bar  .navbar-desctop.affix{
    top: 32px;
}

.rev_slider .js-target-scroll {
   font-family: 'montserratsemibold' !important;
    /*display: inline-block !important;
    border: 0.2em solid #c5a47e !important;
    border-radius: 30px !important;
    padding: 1.1em 2.2em 1.05em !important;
    font-size: 0.875em !important;
    color: #fff !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    background-color: #c5a47e !important;
    border: 0;*/

}

.rev_slider .slide-title {
    font-family: 'Oswald', sans-serif !important;
}

.tp-caption {
   text-align: right !important;
}

.tp-splitted {
   text-align: right !important;
}

.project-category {
    line-height:3;
}

.project-category {
    transform-origin: 0 0;
    bottom: -100px;
}
